<% provide(:title, "Log in") %>
<% if !logged_in? %>
        <%= form_for(:session, url: login_path) do |f| %>

        <div class="vertical_user_input">
            <%= f.label :nameoremail, 'Username/Email' %>
            <%= f.text_field :nameoremail, class: 'form-control' %>
        </div>

        <div class="vertical_user_input">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="vertical_user_input">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <% end %>

        <div class="vertical_user_input">
        <%= link_to "New User? Sign up now!", new_user_path %>
        </div>
<% else %>
    <%controller.redirect_to current_user %>
<% end %>
