
<% if logged_in? %>
    <%controller.redirect_to current_user %>
<% end %>

<% provide(:title, 'Sign up') %>
<%= form_for(@user) do |user_form| %>
  <div class="vertical_user_input">
      <%= user_form.label :name %> <%= user_form.text_field :name %>
  </div>
  <div class="vertical_user_input">
      <%= user_form.label :email %> <%= user_form.email_field :email %>
  </div>
  <div class="vertical_user_input">
      <%= user_form.label :password %> <%= user_form.password_field :password %>
  </div>
  <div class="vertical_user_input">
      <%= user_form.label :password_confirmation, "Confirmation" %> <%= user_form.password_field :password_confirmation %>
  </div>
  <div class="vertical_user_input">
      <%= user_form.label :country_id %>
      <%= user_form.select :country_id, options_for_select(Country.all.map{|s|[s.name, s.id]}) %>
  </div>
  <%= user_form.fields_for :user_languages, @user.user_languages do |userlangs_form| %>
      <div class="vertical_user_input">
      <%= userlangs_form.label :language_id %>
      <%= userlangs_form.select :language_id, options_for_select(Language.all.map{|s|[s.name, s.id]}) %>
      </div>
  <% end %>
  <div class="vertical_user_input">
      <%= user_form.submit %>
  </div>
<% end %>
