<% if current_user == @user %>
    <div class = "user_text"> Welcome Home <%= @user.name %> </div>
    <div class = "user_text" <%= @user.name %>, <%= @user.email %> </div>
    <div class = "user_text"> Subscribers: <%= @user.subscribers.length %></div>
    <div class = "user_text">Subscriptions: <%= @user.subscriptions.where(subscribed_to_type: "User").length %></div>
    <div class = "user_text"> <%= link_to "Edit Profile", edit_user_path(current_user) %> </div>
    <div id = "submit_image"> <%= render partial: 'images/form', locals: {tmp: user_images_path(@user)} %> </div>

<% else %>
    Viewing Profile of: <%= @user.name %>
    <% if current_user.subscriptions.exists?(subscribed_to: @user) %>
        <span>You're a Subscriber!</span>
    <% else %>

    <% end %>
<% end %>

<% if logged_in? %>
<% end %>
<%= render partial: 'image', collection: @user.images %>
